
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


body{
    margin: 0;
    padding: 0;
}
h1, h2 {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-style: italic;
    padding: 10px 15px 10px 15px;
}
h3{
    font-family: "Imperial Script", serif;
    font-size: 30px;

    padding: 10px;
}

p {

}